.App {
  text-align: center;
  margin-top: 50px;
  font-family: Arial, sans-serif;
}

button {
  margin: 10px;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
}

#break-length,
#session-length,
#time-left {
  font-size: 48px;
  margin: 20px;
}

#timer-label {
  font-size: 24px;
  margin: 20px;
}
